
*,
*::before,
*::after {
    box-sizing: border-box;
}


.container {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    display:flex;
}

.container > div {
    margin:auto;
}

.container > div > * {
    margin: 0;
}

.container > div > h1::first-letter{
    font-style: italic;
}
